:root {
  --bg-color: rgb(185, 137, 64);
  --p-50-100: 50px 100px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ----------------NAV BAR----------------- */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 85px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

nav {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav i {
  color: white;
}

nav i:hover {
  cursor: pointer;
}


#logo-img {
  height: 25px;
  position: absolute;
  left: 20px;
  top: 30px;
}

#nav-links {
  list-style: none;
  display: flex;
}

#socials {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-link {
  padding: 10px;
}

header a {
  color: white;
  text-decoration: none;
}

.nav-link:hover a {
  color: grey;
  transition: 0.2s;
}

#socials {
  position: absolute;
  right: 10px;
  top: 20px;
}

/* ----------------HOME------------------ */
#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#home-back {
  position: relative;
  z-index: -1;
}

#home-front {
  position: absolute;
  top: 15%;
  height: 70%;
}

/* ----------------CITATION------------------ */

#citation {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  color: white;
  padding: var(--p-50-100);
  font-size: 3.5rem;
  text-align: center;
  font-weight: 1000;
}

/* ----------------TRADITIONS------------------ */

.tradition {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#traditions .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

#beer-tradition .img-container {
  background-image: url("img/h5-el-holder-img-1-1.jpg");
}

#pub-story .img-container {
  background-image: url("img/h5-el-holder-img-2.jpg");
}

.title {
  font-size: 2.5rem;
  font-weight: 300;
}

.tradition-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: auto;
  width: 50%;
}

.subtitle {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1.1em;
  font-weight: 500;
}

.tradition-text {
  font-family: "Raleway";
  padding: 20px 50px;
  line-height: 2em;
}

.tradition-button {
  width: fit-content;
  align-self: center;
  padding: 8px 5dvh;
  background-color: var(--bg-color);
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.tradition-button:hover {
  background-color: rgb(189, 151, 95);
  transform: scale(1.1);
}

.tradition:nth-child(1) {
  flex-direction: row-reverse;
}

/* ----------------GALLERY------------------ */

#gallery {
  display: flex;
  flex-wrap: wrap;

  img {
    z-index: -1;
    transition: 0.5s;
    width: 100%;
  }

  .look-img {
    color: transparent;
    transition: 0.5s;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
  }

  .img-container {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
    position: relative;

    &:hover {
      background-color: rgba(201, 148, 69, 0.8);

      img {
        transform: scale(1.5);
      }

      .look-img {
        color: white;
        transform: rotate(90deg);
      }
    }
  }
}


/* ----------------SERVICES------------------ */
#services {
  display: flex;
  padding: 100px 10%;
  text-align: center;
}

#services figure {
  margin: 0 20px;
}

#services .services-sub {
  padding: 10px 0;
  font-size: 1.2em;
  font-weight: 600;
}

#services p {
  line-height: 2em;
}

#services figure:hover h3 {
  color: rgb(185, 137, 64);
  transition: 0.2s;
}

/* ----------------PARALLAXE------------------ */

#parallax {
  text-align: center;
  background-image: url('img/h5-parallax-img-2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

#parallax h2 {
  margin: 15px;
}

/* ------------------ MAPS -------------------- */
#maps {
  height: 80vh;
}

#overlay {
  box-shadow:
    rgb(17, 17, 17) 0px -180px 100px -50px inset,
    rgb(17, 17, 17) 0 180px 100px -50px inset;

  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  iframe {
    filter: grayscale(1) invert(1);
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

/* -------------------FOOTER-------------------- */
footer {
  background-color: rgb(17, 17, 17);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------SCROLLER------------------ */

.scroller {
  background-color: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 5%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25%;
  font-size: 1.5em;
  transition: 0.2s;
  color: white;
}

#scroller:hover {
  transform: translateY(-10px);
  border-radius: 50%;
  transition: 0.2s;
}

.hide-scroll {
  bottom: -50px
}

/* -------------------MQ-------------------- */

@media screen and (max-width:1200px) {

  #citation {
    font-size: 2rem;
  }

  .tradition:nth-child(n) {
    flex-direction: column;
  }

  #traditions .img-container {
    width: 100%;
  }

  .tradition-description {
    width: 80%;
    margin: 40px 0;
  }
}

@media screen and (max-width:1000px) {

  #services {
    flex-direction: column;
  }

  #services figure {
    margin: 20px 50px;
  }
}

@media screen and (max-width:800px) {

  #home-front {
    top: 20%;
    height: 50%;
  }

  #citation {
    font-size: 1.5rem;
    font-weight: 800;
  }

  #gallery .img-container {
    width: 50%;
  }

  /* ---------------BURGER----------------- */

  #nav-links {
    flex-direction: column;
  }

  .hide-menu .nav-link {
    display: none;
  }
}

@media screen and (max-width:600px) {

  #home-front {
    top: 25%;
    height: 40%;
  }

  #citation {
    font-size: 1rem;
    font-weight: 600;
  }

  #traditions .img-container img {
    height: 80%;
  }
}

@media screen and (max-width:400px) {

  #home-front {
    top: 30%;
    height: 35%;
  }

  #gallery .img-container {
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  nav i {
    position: absolute;
    top: -50px;
  }
}