nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-link {
  padding: 5px;
}